recursive-include barmanapi *.py
include config/barmanapi.conf config/client.conf config/man.conf config/template/config_change_template
include bin/barmanapi
include LICENSE PKG-INFO MANIFEST.in MANIFEST setup.py README.md